.main_data {
    padding-left: 10%;
    padding-right: 10%;
}


.special_title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.main_text {
    font-size: 25px;
}

.interests {
    margin-left: 50px;
}

.footer_text {
    text-align: center;
    font-size: 15px;
}